.header{
 height: 60px;
 width: 100%;
 background-color: black;
 position: sticky;
 top:0;
 z-index: 99;
 display: flex;
 align-items: center;
 justify-content: center;
}
.amazon-logo{
 cursor: pointer;
height: 30px;
width: 100px;
margin: 0 20px;
margin-top:10px ;
object-fit: contain;
}

.search{
 display: flex;
 flex: 1;
 margin: auto;
 align-items: center;
 border-radius: 25px;
}

.search-input{
 height: 23px;
 width: 100%;
 padding: 10px;
 border: orange;
}
.search-icon{
background-color: orange;
/* display: flex; */
/* flex: 1; */
padding: 5px;
height: 23px !important;
width: 20px;
}

.nav{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 color: white;
 margin: 0 20px;
}
.header__link{
 color:white;
 text-decoration: none;
}
.option > span{
display: flex;
flex-direction: column;
margin: 0px 10px;
}
.option> span:nth-child(1){
 /* color: red; */
 font-size: 10px;
 
}
.option> span:nth-child(2){
 /* color: red; */
 font-size: 13px;
 font-weight: 800;
}

/* .basket-icon>span{
 display: flex;
 flex-direction: row;
} */

.basket-icon{
 text-decoration: none;
 font-size: 30px;
 color: white;
}
.basket-count{
 margin-left: 1px;
 margin-right: 10px;
 text-decoration: none;
 font-size: 1rem;
}
.shopping-cart{
 font-size: 20px;

}